<?xml version="1.0"?>
<config>
  <modules>
    <Rossmc_JsonPriceFix>
      <version>0.1.0</version>
    </Rossmc_JsonPriceFix>
  </modules>
  <global>
    <helpers>
      <jsonpricefix>
        <class>Rossmc_JsonPriceFix_Helper</class>
      </jsonpricefix>
        <catalog>
			<rewrite>
				<product_type_composite>Rossmc_JsonPriceFix_Helper_Catalog_Product_Type_Composite</product_type_composite>
            </rewrite>
        </catalog>
    </helpers>
  </global>
</config> 